<html>
  <head>
    <style>
      img {
        height: 500px;
        border-radius: 50px;
        float: center;
        margin-right: 30px;
        margin-bottom: 20px;
      }
      p {
        font-weight: bold;
        font-size: x-large;
      }
    </style>
  </head>
  <body>
    <img src={{ url_for('static', filename='star_war.jpg') }} alt="Image of
    star_wars not available" > <img src={{ url_for('static',
    filename='C3PO.png') }} alt="Image of star_wars not available" >
    <p>Submit the plans of the Bounty Hunters</p>
    <form action="/do_upload" method="POST" enctype="multipart/form-data">
      <input type="file" name="file" />
      <input type="submit" />
    </form>
    {% if score %} Probability of success: {{score}} {% endif %}
  </body>
</html>
